@import "../../styles/variables";

.grid {
    @media only screen and (min-width: $bp-md) {
        margin: 0 auto;
        max-width: 40rem;
    }
    
    @media only screen and (min-width: $bp-lg) {
        margin: 0 auto;
        max-width: 60rem;
    }
}