@import "../../../styles/variables";

.nav ul {
    display: grid;
    @media only screen and (min-width: $bp-md) {
        display: flex;
    }
}

.link {
    color: $color-copy;
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    &:hover {
        text-decoration: underline;
    }
}

.link span {
    color: $color-primary;
}