@import "../variables";

.description {
    margin-top: 1rem;
    width: 100%;
    max-width: 32rem;
}

.blockSpacing {
    padding: 8rem 0;
    
    @media only screen and (min-width: $bp-lg) {
        padding: 12rem 0;
    }
}

.blogPostsList {
    margin-top: 3rem;
}

.blogPostsList li a {
    display: block;
    padding: .25rem 0;
    text-decoration: none;
    color: var(--color-text);
    &:hover {
        text-decoration: underline;
    }
}

.blogPostsList li a span {
    color: var(--color-primary);
}