@import "../variables";

.content {
    height: calc(100vh - 5rem);
    display: grid;
    align-items: center;
    
    @media only screen and (max-height: $bp-xs) {
        height: 100%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    
    @media only screen and (min-width: $bp-md) {
        margin: 0 auto;
        max-width: 40rem;
    }
    
    @media only screen and (max-height: $bp-xs) and (min-width: $bp-md) {
        height: 100%;
        margin: 2rem auto 5rem auto;
        max-width: 40rem;
    }
    
    @media only screen and (min-width: $bp-lg) {
        margin: 0 auto;
        max-width: 60rem;
    }
    
    @media only screen and (max-height: $bp-xs) and (min-width: $bp-lg) {
        height: 100%;
        margin: 2rem auto 5rem auto;
        max-width: 60rem;
    }
}

.intro {
    color: var(--color-primary);
    margin-bottom: .25rem;
}

.description {
    margin-top: 1rem;
    width: 100%;
    max-width: 32rem;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 1rem;
    
    @media only screen and (min-width: $bp-sm) {
        margin-top: 3rem;
        gap: 2.5rem;
    }
}

.blockSpacing {
    padding: 8rem 0;
    
    @media only screen and (min-width: $bp-lg) {
        padding: 12rem 0;
    }
}

.styledLink {
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none; 
    border: 0.0625rem solid var(--color-primary);
    color: var(--color-primary);
    padding: 1rem 2rem;
}
