.icon {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

@media only screen and (min-width: 62rem) {
    .icon {
        display: none;
    }
}

.icon span {
    position: absolute;
    width: 2.5rem;
    height: .1875rem;
    background: var(--color-primary);
    display: block;
    opacity: 1;
    transform: rotate(0deg);
    transition: all .25s;
}

.icon span:nth-child(1) {
    top: 0.3rem;
}

.iconActive span:nth-child(1) {
    top: calc(50% - 0.09375rem);
    transform: rotate(45deg);
}

.icon span:nth-child(2) {
    top: calc(50% - 0.09375rem);
}

.iconActive span:nth-child(2) {
    opacity: 0;
}

.icon span:nth-child(3) {
    bottom: 0.3rem;
    width: 1.25rem;
}

.iconActive span:nth-child(3) {
    width: 2.5rem;
    bottom: calc(50% - 0.09375rem);
    transform: rotate(-45deg);
}