@import "../../styles/variables";

.company {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    color: $color-primary;
}

.title,
.company {
    margin-bottom: 0.1rem;
}

.date {
    margin-bottom: .5rem;
}