@import "../../styles/variables";

.footer {
    padding: 7rem 0 2rem 0;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons a {
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.icons a svg {
    color: $color-copy;
    width: 2rem;
    height: 2rem;
}
