@import "../../styles/variables";

.icons {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    grid-gap: 1rem;
    margin-left: 2rem;
    padding-bottom: 7.25rem;
    
    @media only screen and (min-width: $bp-md) {
        display: grid;
    }

    &::before {
        content: "";
        width: 0.0625rem;
        height: 6.25rem;
        background: $color-primary;
        bottom: 0;
        position: absolute;
        left: calc(50% - 0.03125rem);
    }
}

.icons a {
    color: $color-copy;
    opacity: .5;

    &:hover {
        color: $color-copy;
        opacity: 1;
    }
}

.icons a svg {
    width: 2rem;
    height: 2rem;
}